@font-face {
    font-family: 'Times New Roman Bold';
    src: url('../fonts/TimesNewRomanPS-BoldMT.eot');
    src: url('../fonts/TimesNewRomanPS-BoldMT.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TimesNewRomanPS-BoldMT.woff') format('woff'),
    url('../fonts/TimesNewRomanPS-BoldMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
        font-family: 'Proxima Nova';
        src: url('../fonts/ProximaNova-Regular.eot');
        src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }